*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
}
.flex{
    display: flex;
}
.j-center{
    justify-content: center;
}
.a-center{
    align-items: center;
}
.flex-col{
    flex-direction: column;
}
.gap{
    gap: 1rem;
}
.w-100{
    width: 100%;
}
.text-center{
    text-align: center;
}